<h1>Contact us!</h1>
<!--<p>Find me in app/views/static_pages/contact.html.erb</p>-->
<h1>But before contacting us, check out these awesome links:</h1>

<ul>
<li><a href="https://en.wikipedia.org/wiki/Narcos">Our Wiki</a></li>
<li><a href="https://www.netflix.com/de/title/80025172">Our Netflix Series</a></li>
<li><a href="https://narcosgamers.com/">Our Game</a></li>
</ul> <!-- contact-list -->