<h1>Home Page of the Narcos Fandom World Page</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<h1>On this Page we do not only provide great information about the series, we also sell fandom article and more.</h1>
<h2>So check out our great offers and have a good day!</h2>